body {
  margin: 0;
  font-family: sans-serif;
}

/* Basic tooltip styling */
#tooltip {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #333;
  border-radius: 3px;
  padding: 5px;
  font-size: 0.9rem;
  pointer-events: none;
  transition: opacity 0.1s ease;
  z-index: 1000;
}

#visualizations {
  display: flex;
}

#my-map {
  width: 60%;
  height: 600px;
}

#timeline {
  width: 40%;
  height: 600px;
  position: relative;
}
